<nav class="topnav" aria-label="Primary">
    <NavLink class="topnav-link" href="" Match="NavLinkMatch.All">
        <span class="topnav-icon" aria-hidden="true">@Icons.Signal</span>
        <span>Overview</span>
    </NavLink>
    <NavLink class="topnav-link" href="counter">
        <span class="topnav-icon" aria-hidden="true">@Icons.Zap</span>
        <span>Probe</span>
    </NavLink>
    <NavLink class="topnav-link" href="weather">
        <span class="topnav-icon" aria-hidden="true">@Icons.Gauge</span>
        <span>Feed</span>
    </NavLink>
</nav>
